.exercise-overview-title {
    display: flex;
    align-items: center;
}

.exercise-overview-header {
    margin: 0;
}

.add-exercises-btn {
    margin-left: auto;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: dodgerblue;
    border: none;
}

.add-exercises-btn:hover {
    background-color: rgb(23, 118, 212);
}

.exercises-list, .exercise-card-list, .instruction-edit-list {
    padding: 0;
    margin: 0;
}

.exercise-card {
    margin: 5px auto;
    border-radius: 5px;
    background-color: white;
    border: 1px lightgray solid;
    padding: 5px;
    display: flex;
    align-items: center;
}

.exercise-card-header {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exercise-details-instruction-header {
    font-size: 1.3rem;
}

.exercise-card-name {
    color: black;
    font-size: 1.25rem;
    cursor: pointer;
}

.exercise-details-bodypart {
    font-size: 1.5rem;
}

.exercise-card-dash {
    margin: 0 0.25rem;
    font-size: 1rem;
}

.exercise-card-category {
    font-size: 1.25rem;
    display: inline-flex;
    color: gray;
}

.exercise-card-options {
    margin-left: auto;
    display: inline-flex;
}

.exercise-card-options-btn, .instruction-card-options-btn {
    width: 1.2rem;
    height: 1.2rem;
    margin-left: auto;
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 0;
    color: black;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
}

.exercise-card-options-btn::after, .instruction-card-options-btn::after {
    content: none;
}

.exercise-option {
    cursor: pointer;
}

.exercise-select-list {
    padding: 0;
    margin: 0;
}

.exercise-select-card {
    margin: 2px auto;
    border-radius: 5px;
    background-color: white;
    border: 1px lightgray solid;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.exercise-select-header {
    margin: 0;
    display: flex;
    align-items: center;
}

.exercise-selected-indicator {
    margin-left: auto;
}

.loading-element {
    animation-duration: 1s;
    animation-name: animate-fade;
    animation-delay: 0.15s;
    animation-fill-mode: backwards;
}

@keyframes animate-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}