.template-card {
    margin: 0.5rem auto;
    border-radius: 5px;
    background-color: white;
    border: 1px lightgray solid;
    padding: 0.5rem 0.4rem;
}

.templates-list-header {
    margin: 2px auto;
    width: 83.3333%;
    display: flex;
}

.template-header {
    display: flex;
}

.template-name {
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
}

.create-template-btn,
.template-options,
.template-options-btn {
    margin-left: auto;
}

.template-options {
    display: inline-flex;
}

.create-template-btn {
    background-color: dodgerblue;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
}

.template-options-btn {
    width: 1.2rem;
    height: 1.2rem;
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 0;
    color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.template-options-btn::after {
    content: none;
}

.templates-list, .set-group-summary-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.set-group-summary-dash {
    margin: 0 0.25rem;
    font-size: 1rem;
}

.template-quickstart-text {
    margin: 0;
}

.start-empty-workout-btn {
    display: block;
    width: 100%;
    margin: 0.5rem auto;
    background-color: dodgerblue;
    border-color: dodgerblue;
}

.my-templates-header {
    display: flex;
}

.template-quickstart-text, .my-templates-title {
    color: gray;
    font-size: 1.1rem;
}

.add-template-btn {
    margin-left: auto;
    color: black;
}

