@page "/exercises/{ExerciseId:int}"

<PageTitle>Exercise Details</PageTitle>


@if (Exercise is null)
{
    <h1 class="loading-element">Exercise Details</h1>
    <div class="loading-element"><i class="fa-solid fa-spinner fa-spin"></i></div>
}
else
{
    <h1>@Exercise.Name - @Exercise.Category</h1>
    <div class="exercise-details-bodypart">@Exercise.BodyPart</div>
    <div>
        @if (Exercise.Instructions.Count() > 0)
        {
            <div class="exercise-details-instruction-header">Instructions</div>
            <ol class="exercise-details-instruction-list">
                @foreach (var instruction in Exercise.Instructions)
                {
                    <li class="exercise-details-instruction">@instruction.Text</li>
                }
            </ol>
        }
    </div>
    <button class="btn btn-primary mr-3">Edit</button>
    <button class="btn btn-danger">Delete</button>
}