@page "/templates"
@using NewGains.Client.Components.Templates

<PageTitle>Workout Templates</PageTitle>

<h1>Workout</h1>

<div class="template-quickstart">
    <p class="template-quickstart-text">Quick start</p>
    <button class="btn btn-primary start-empty-workout-btn">Start an empty workout</button>
</div>

@if (Templates is null)
{
    <p class="loading-element"><i class="fa-solid fa-spinner fa-spin"></i></p>
}
else
{
    <AuthorizeView>
        <div class="my-templates-header">
            <span class="my-templates-title">My templates</span>
            <a class="add-template-btn" href="/templates/edit"><i class="fa-solid fa-plus"></i></a>
        </div>
    </AuthorizeView>
    <ol class="templates-list">
       @foreach (var template in Templates)
       {
           <TemplateCard Template="@template" />
       }
    </ol>
}