@page "/templates/{TemplateId:int}"
@using NewGains.Client.Components.Templates


@if (Template is null)
{
    <p class="loading-element"><i class="fa-solid fa-spinner fa-spin"></i></p>
}
else
{
    <section>
        <h1 class="template-details-name">@Template.Name</h1>

        @if (!string.IsNullOrEmpty(Template.Description))
        {
            <div class="row mb-3">
                <label for="templateName" class="template-details-description-label">Description: </label>
                <p class="template-details-description-text">@Template.Description</p>
            </div>
        }

        <AuthorizeView>
            <a class="btn btn-primary start-workout-btn" href="@($"/workout/{TemplateId}")">
                Start Workout
            </a>
        </AuthorizeView>

        @foreach (var setGroup in Template.SetGroups)
        {
            <SetGroupDetails SetGroup="setGroup" />
        }

        <AuthorizeView>
            <a class="btn btn-primary" href="@($"/templates/edit/{TemplateId}")">
                Edit
            </a>
        </AuthorizeView>

        <a class="btn btn-light" href="/templates">
            Back
        </a>
    </section>
}
