<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark py-0">
    <div class="nav-item py-0 px-1">
        <NavLink class="nav-link vertical-nav-item" href="" Match="NavLinkMatch.All">
            <i class="fa-solid fa-user"></i>
            Profile
        </NavLink>
    </div>
    <div class="nav-item py-0 px-1">
        <NavLink class="nav-link vertical-nav-item" href="#">
            <i class="fa-regular fa-clipboard"></i>
            Logs
        </NavLink>
    </div>
    <div class="nav-item py-0 px-1">
        <NavLink class="nav-link vertical-nav-item" href="/templates">
            <i class="fa-solid fa-person-walking"></i>
            Workouts
        </NavLink>
    </div>
    <div class="nav-item py-0 px-1">
        <NavLink class="nav-link vertical-nav-item" href="/exercises">
            <i class="fa-solid fa-dumbbell"></i>
            Exercises
        </NavLink>
    </div>
</nav>
