<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <div class="nav-item px-1">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    </div>
    <div class="nav-item px-1 pt-2 pb-1">
        <NavLink class="nav-link" href="/templates">
            <span class="oi oi-list-rich" aria-hidden="true"></span>
            <div>
                Templates
            </div>
        </NavLink>
    </div>
    <div class="nav-item px-1 pt-2 pb-1">
        <NavLink class="nav-link" href="/exercises">
            <span class="oi oi-list-rich" aria-hidden="true"></span> 
            <div>
                Exercises
            </div>
        </NavLink>
    </div>
</nav>
