<div class="row set-entry">
    <div class="col-1">
    </div>
    <div class="col-2 step-number-col">
        @SetNumber
    </div>
    <div class="col-4 weight-col">
        <p>
            @WeightAmount
        </p>
    </div>
    <div class="col-4 reps-time-col">
        <p>
            @RepsTimeAmount
        </p>
    </div>
    <div class="col-1">
    </div>
</div>