<li class="template-card">

    <div class="template-header">
        <h6 class="template-name" @onclick="@(() => NavigateToTemplateDetails(Template.Id))">@Template.Name</h6>
        <TemplateCardOptions TemplateId="@Template.Id" />
    </div>

    <TemplateCardSetGroups SetGroups="@Template.SetGroups" />
</li>