<div class="template-options">
    <button class="btn dropdown-toggle template-options-btn" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-ellipsis-vertical"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
        <li><a class="dropdown-item" href="@($"/templates/edit/{TemplateId}")">Edit</a></li>
        <li><a class="dropdown-item" href="#">Duplicate</a></li>
        <li><a class="dropdown-item text-danger" href="#">Delete</a></li>
    </ul>
</div>