@page "/exercises"
@using NewGains.Client.Components.Exercises

<PageTitle>Exercises</PageTitle>

<h1>Exercises</h1>

@if (Exercises is null)
{
    <p class="loading-element"><i class="fa-solid fa-spinner fa-spin"></i></p>
}
else
{
    <a class="btn btn-primary" href="/exercises/edit">Add Exercise</a>
    <ol class="exercises-list">
       @foreach (var exercise in Exercises)
       {
           <ExerciseCard Exercise="@exercise" />
       }
    </ol>
}
