@page "/exercises"
@using NewGains.Client.Components.Exercises

<PageTitle>Exercises</PageTitle>

@if (Exercises is null)
{
    <h1 class="exercise-overview-header">Exercises</h1>

    <p class="loading-element"><i class="fa-solid fa-spinner fa-spin"></i></p>
}
else
{
    <div class="exercise-overview-title">
        <h1 class="exercise-overview-header">Exercises</h1>
        <AuthorizeView>
            <a class="btn btn-primary add-exercises-btn" href="/exercises/edit">Add Exercise</a>
        </AuthorizeView>
    </div>


    <ol class="exercises-list">
       @foreach (var exercise in Exercises)
       {
           <ExerciseCard Exercise="@exercise" />
       }
    </ol>
}
